


<div class="header-on-modal">
           <div class="header-hard-dashboard" style="opacity: 0.8;">Modifier les pouvoirs pour le produit</div>
           <div style="margin-left: 8px;margin-right: 8px;padding-top: 4px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
           <div class="header-hard-dashboard" style="opacity: 0.4;"><%= @product.title %></div>
           <button class="close" data-dismiss="modal">×</button>
</div>





<div class="form-in-modal">

<%= simple_form_for [@product.type, @product, @power] do |f| %>

  <div class="container-without-button">

      <div class="checkbox-inline-form">

        <div class="can-toggle demo-rebrand-2">
          <input id="power_wind" type="checkbox" name="power[wind]">
          <label for="power_wind">
            <div class="can-toggle__switch"></div>
            <div class="can-toggle__label-text">Protection contre le vent</div>
          </label>
        </div>

      </div>


      <div class="checkbox-inline-form">

        <div class="can-toggle demo-rebrand-2">
          <input id="power_cold" type="checkbox" name="power[cold]" value="0">
          <label for="power_cold">
            <div class="can-toggle__switch"></div>
            <div class="can-toggle__label-text">Protection contre le froid</div>
          </label>
        </div>

      </div>


      <div class="checkbox-inline-form">

        <div class="can-toggle demo-rebrand-2 power_hot">
          <input id="power_hot" type="checkbox" name="power[hot]" class="boolean optional" value="1">
          <label for="power_hot">
            <div class="can-toggle__switch"></div>
            <div class="can-toggle__label-text">Protection contre la chaleur</div>
          </label>
        </div>

      </div>




      <div class="checkbox-inline-form">
        <%= f.input :humidity, label: false %>
        <div class="v3-power-item-mini" style="background-image: url(<%= asset_path 'humidity.svg' %>);"></div>
        <div class="label-on-modal-dashboard">Protection contre l'Humidité</div>
      </div>

      <div class="checkbox-inline-form">
        <%= f.input :energysaver, label: false %>
        <div class="v3-power-item-mini" style="background-image: url(<%= asset_path 'eolienne.svg' %>);"></div>
        <div class="label-on-modal-dashboard">Economie d'energie</div>
      </div>

      <div class="checkbox-inline-form">
        <%= f.input :taxsaver, label: false %>
        <div class="v3-power-item-mini" style="background-image: url(<%= asset_path 'price.svg' %>);"></div>
        <div class="label-on-modal-dashboard">Crédit d'impot</div>
      </div>

      <div class="checkbox-inline-form">
        <%= f.input :insects, label: false %>
        <div class="v3-power-item-mini" style="background-image: url(<%= asset_path 'insects.svg' %>);"></div>
        <div class="label-on-modal-dashboard">Protection contre les insectes</div>
      </div>

      <div class="checkbox-inline-form">
        <%= f.input :security, label: false %>
        <div class="v3-power-item-mini" style="background-image: url(<%= asset_path 'security.svg' %>);"></div>
        <div class="label-on-modal-dashboard">Protection contre le vol</div>
      </div>

      <div class="checkbox-inline-form">
        <%= f.input :sun, label: false %>
        <div class="v3-power-item-mini" style="background-image: url(<%= asset_path 'sun.svg' %>);"></div>
        <div class="label-on-modal-dashboard">Protection contre le soleil</div>
      </div>

      <div class="checkbox-inline-form">
        <%= f.input :rain, label: false %>
        <div class="v3-power-item-mini" style="background-image: url(<%= asset_path 'rain.svg' %>);"></div>
        <div class="label-on-modal-dashboard">Protection contre la pluis</div>
      </div>

      <div class="checkbox-inline-form">
        <%= f.input :inside, label: false %>
        <div class="v3-power-item-mini" style="background-image: url(<%= asset_path 'inside.svg' %>);"></div>
        <div class="label-on-modal-dashboard">Produit d'intérieur</div>
      </div>

      <div class="checkbox-inline-form">
        <%= f.input :outside, label: false %>
        <div class="v3-power-item-mini" style="background-image: url(<%= asset_path 'outside.svg' %>);"></div>
        <div class="label-on-modal-dashboard">Produit d'extérieur</div>
      </div>

      <div class="checkbox-inline-form">
        <%= f.input :certification, label: false %>
        <div class="v3-power-item-mini" style="background-image: url(<%= asset_path 'certif.svg' %>);"></div>
        <div class="label-on-modal-dashboard">Certification</div>
      </div>

  </div>


    <%= f.submit "Modifier les pouvoirs pour #{@product.title}", :class => 'submit-button-on-modal' %>


<% end %>

</div>

















