  <div role="tabpanel" class="tab-pane tab-to-reset" id="<%= "#{product.id}" + "produit" + "#{type.id}" %>">

              <div class="v2-fullpage-item-01-header">
                 <div class="header-hard-dashboard" style="opacity: 0.4;"><%= composed_plurname(type.name) %></div>
                 <div style="margin-left: 8px;margin-right: 8px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                 <div class="header-hard-dashboard"><%= product.title %></div>
              </div>

              <div class="dashv2-infos-compilated-alt">

                <div class="dashv2-infos-compilated-item">
                  <div class="v2-big-number"><%= product.infos.count %></div>
                  <% if product.infos.count == 1 %>
                    <div class="dashv2-infos-compilated-item-label">Info</div>
                  <% else %>
                    <div class="dashv2-infos-compilated-item-label">Infos</div>
                  <% end %>
                </div>

                <%= link_to "#infoNewModal", class: "", data: { toggle: "modal", typeid: "#{product.type.id}", productid: "#{product.id}" } do %>

                  <div class="v4-info-new-button" style="color: <%= type.color %>;">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <div class="v5-text-on-button-hover">
                      <div class="">Créer une info</div>
                      <i class="fa fa-angle-right animated infinite pulse" aria-hidden="true" style="font-size: 15px;margin-left: 10px;"></i>
                    </div>
                  </div>

                <% end %>

              </div>





            <% if product.infos.any? %>
              <div class="v3-prod-infos">
                <div class="infos-volets">
                    <% product.infos.each do |info| %>

                      <div class="infos-item-boob">
                        <div class="infos-icon-boob" style="background-image: url(<%= cl_image_path info.icon.path %>);"></div>

                        <div class="infos-big-boob"><%= info.title %>&nbsp;</div>

                        <div class="infos-small-boob"><%= info.content %>&nbsp;</div>

                        <div class="v2-link-on-active-infos">
                          <%= link_to "#infoEditModal", class: "", data: { toggle: "modal", infoid: "#{info.id}", typeid: "#{info.product.type.id}", productid: "#{info.product.id}" } do %>
                              <div class="text-on-edit-hover" style="color: <%= type.color %>;">Modifier</div>
                              <i class="fa fa-pencil" aria-hidden="true" style="color: <%= type.color %>;"></i>
                          <% end %>
                          <%= link_to type_product_info_path(type,product,info), method: :delete, class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir supprimer ce produit ?" } do %>
                              <div class="text-on-destroy-hover" style="color: <%= type.color %>;">Supprimer</div>
                              <i class="fa fa-times" aria-hidden="true" style="color: <%= type.color %>;"></i>
                          <% end %>
                        </div>

                      </div>

                    <% end %>
                  </div>
              </div>

              <% else %>

              <div class="v3-prod-infos-alt" style="border-bottom: 1px solid rgba(155,155,155,0.3);">
                <div class="v4-no-promo-div">
                  <div class="v5-big-text">Pas d'infos</div>
                  <div class="v4-no-promo-div-small-text" style="color: rgba(25,25,25,0.8);">Cliquez sur + pour créer une info !!</div>
                </div>
              </div>

            <% end %>














              <div class="dashv2-infos-compilated-alt">

                <div class="dashv2-infos-compilated-item">
                  <div class="v2-big-number"><%= product.brands.count %></div>
                  <% if product.brands.count == 1 %>
                    <div class="dashv2-infos-compilated-item-label">Marque</div>
                  <% else %>
                    <div class="dashv2-infos-compilated-item-label">Marques</div>
                  <% end %>
                </div>

                <%= link_to "#brandNewModal", class: "", data: { toggle: "modal", typeid: "#{product.type.id}", productid: "#{product.id}" } do %>

                  <div class="v4-info-new-button" style="color: <%= type.color %>;">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <div class="v5-text-on-button-hover">
                      <div class="">Créer une marque</div>
                      <i class="fa fa-angle-right" aria-hidden="true" style="font-size: 15px;margin-left: 10px;"></i>
                    </div>
                  </div>

                <% end %>

              </div>



            <% if product.brands.any? %>

              <div class="v3-prod-infos">

                <div class="infos-volets">
                    <% product.brands.each do |brand| %>

                      <div class="infos-item-boob">
                        <div class="infos-icon-boob" style="background-image: url(<%= cl_image_path brand.logo.path %>);"></div>

                        <div class="infos-big-boob"><%= brand.name %>&nbsp;</div>


                        <div class="v2-link-on-active-infos">
                          <%= link_to "#brandEditModal", class: "", data: { toggle: "modal", brandid: "#{brand.id}", typeid: "#{brand.product.type.id}", productid: "#{brand.product.id}" } do %>
                              <div class="text-on-edit-hover" style="color: <%= type.color %>;">Modifier</div>
                              <i class="fa fa-pencil" aria-hidden="true" style="color: <%= type.color %>;"></i>
                          <% end %>
                          <%= link_to type_product_brand_path(type,product,brand), method: :delete, class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir supprimer cette marque ?" } do %>
                              <div class="text-on-destroy-hover" style="color: <%= type.color %>;">Supprimer</div>
                              <i class="fa fa-times" aria-hidden="true" style="color: <%= type.color %>;"></i>
                          <% end %>
                        </div>

                      </div>

                    <% end %>
                  </div>
              </div>

            <% else %>

              <div class="v3-prod-infos-alt" style="border-bottom: 1px solid rgba(155,155,155,0.3);">
                <div class="v4-no-promo-div">
                  <div class="v5-big-text">Pas de marque</div>
                  <div class="v4-no-promo-div-small-text" style="color: rgba(25,25,25,0.8);">Cliquez sur + pour créer une marque !!</div>
                </div>
              </div>

            <% end %>































              <div class="dashv2-infos-compilated-alt">

                <div class="dashv2-infos-compilated-item">
                  <% if product.powers.any? %>
                    <div class="v2-big-number-brand" style="color: #52D681;">Oui</div>
                  <% else %>
                    <div class="v2-big-number-brand" style="color: #FA4659;">Non</div>
                  <% end %>
                  <div class="dashv2-infos-compilated-item-label">Powers</div>

                </div>


                <% if product.powers.any? %>

                  <%= link_to "#powerEditModal", class: "", data: { toggle: "modal", powerid: "#{product.powers.last.id}", typeid: "#{product.type.id}", productid: "#{product.id}" } do %>
                    <div class="v4-info-new-button" style="color: <%= type.color %>;">
                      <i class="fa fa-toggle-on" aria-hidden="true"></i>
                      <div class="v5-text-on-button-hover">
                      <div class="">Editer les pouvoirs</div>
                      <i class="fa fa-angle-right animated infinite pulse" aria-hidden="true" style="font-size: 15px;margin-left: 10px;"></i>
                    </div>
                    </div>
                  <% end %>

                <% else %>

                  <%= link_to "#powerNewModal", class: "", data: { toggle: "modal", typeid: "#{product.type.id}", productid: "#{product.id}" } do %>
                    <div class="v4-info-new-button" style="color: <%= type.color %>;">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      <div class="v5-text-on-button-hover">
                      <div class="">Créer des pouvoirs</div>
                      <i class="fa fa-angle-right animated infinite pulse" aria-hidden="true" style="font-size: 15px;margin-left: 10px;"></i>
                    </div>
                    </div>
                  <% end %>

                <% end %>
              </div>




               <% if product.powers.any? %>


                <div class="v3-dash-powers-container">


                  <% if product.powers.last.sun == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Soleil</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'sun.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.rain == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Pluie</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'rain.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.wind == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Vent</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'wind.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.cold == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Froid</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'cold.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.hot == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Chaleur</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'hot.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.humidity == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Humidité</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'humidity.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.energysaver == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Enérgie</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'eolienne.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.taxsaver == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Impots</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'price.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.insects == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Insectes</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'insects.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.security == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Sécurité</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'security.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.inside == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Intérieur</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'inside.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.outside == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Extérieur</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'outside.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.certification == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Certif</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'certif.svg' %>);"></div>
                    </div>
                  <% end %>

                </div>

                <% else %>

                  <div class="v3-prod-infos-alt">
                    <div class="v4-no-promo-div">
                      <div class="v5-big-text">Pas de pouvoirs</div>
                      <div class="v4-no-promo-div-small-text" style="color: rgba(25,25,25,0.8);">Cliquez sur + pour créer des pouvoirs !!</div>
                    </div>
                  </div>

              <% end %>

            </div>
