<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "locked.svg" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>


        <!-- Bouton admin -->
      <div class="admin-button-container">
        <div><%= link_to "Dashboard", dashboard_path, class: "admin-button" %></div>
        <!-- <div class="admin-button-container-icon"><i class="fa fa-cog" aria-hidden="true"></i></div> -->
      </div>


        <!-- deconnecter -->
      <div class="admin-button-container">
        <div><%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "admin-button-destroy" %></div>
      </div>


    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Connexion"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>



  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

