<div class="navbar-wagon">
  <!-- Logo -->
  <div class="home-logo nav-container-flex-left">

    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <div>les artisans du store</div>
    <% end %>

  </div>

  <div class="nav-home-2">

    <div class="home-logo">
      <%= link_to products_path, class: "navbar-wagon-brand" do %>
        <div>produits</div>
      <% end %>
    </div>


    <div class="home-logo">
      <%= link_to services_path, class: "navbar-wagon-brand" do %>
        <div>services</div>
      <% end %>
    </div>

    <div class="home-logo">
      <%= link_to contact_path, class: "navbar-wagon-brand" do %>
        <div>contact</div>
      <% end %>
    </div>

  </div>



  <!-- Right Navigation -->
  <div class="navbar-wagon-right-margins">


    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>


      <div class="home-logo nav-container-flex-connected">
        <!-- Bouton admin -->
        <div class="admin-button-container">
          <div><%= link_to "Dashboard", dashboard_path, class: "admin-button" %></div>
          <!-- <div class="admin-button-container-icon"><i class="fa fa-cog" aria-hidden="true"></i></div> -->
        </div>


          <!-- deconnecter -->
        <div class="admin-button-container">
          <div><%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "admin-button-destroy" %></div>
        </div>

      </div>


    <% else %>

      <!-- Login text link -->
      <div class="home-logo nav-container-flex-right">

        <%= link_to new_user_session_path, class: "navbar-wagon-brand" do %>
          <div>connexion</div>
        <% end %>

      </div>

    <% end %>



  </div>





</div>

