<div class="navigation-small-top">

  <%= image_tag("nav-wheel.svg", size: "20x20", alt: "Devis") %>

  <div class="nav-small-top-title">Menu</div>


  <div class="nav-small-top-link">
      <%= link_to root_path do %>
        <div class="nav-small-link-design">home</div>
      <% end %>
  </div>



  <div class="nav-small-top-link">
      <%= link_to products_path do %>
        <div class="nav-small-link-design">produits</div>
      <% end %>
  </div>

  <div class="nav-small-top-link">
      <%= link_to services_path do %>
        <div class="nav-small-link-design">services</div>
      <% end %>
  </div>


  <div class="nav-small-top-link">
      <%= link_to contact_path do %>
        <div class="nav-small-link-design">contact</div>
      <% end %>
  </div>


  <div class="nav-small-top-link">
      <%= link_to devis_path do %>
        <div class="nav-small-link-design">devis</div>
      <% end %>
  </div>


  <% if user_signed_in? %>

      <div class="nav-small-top-link">
        <%= link_to dashboard_path do %>
          <div class="nav-small-link-design">Dashboard</div>
        <% end %>
      </div>

      <div class="nav-small-top-link">
        <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "admin-button-destroy" %>
      </div>

  <% else %>

      <div class="nav-small-top-link">
        <%= link_to new_user_session_path do %>
          <div class="nav-small-link-design">Connexion</div>
        <% end %>
      </div>

  <% end %>


</div>
