<div class="navigation-v2-fixed">

  <%= image_tag("ttr-test.svg", size: "30x30", alt: "Logo") %>



  <div class="nav-small-top-link">
      <%= link_to root_path do %>
        <div class="nav-small-link-design">home</div>
      <% end %>
  </div>



  <div class="nav-small-top-link">
      <%= link_to types_path do %>
        <div class="nav-small-link-design">produits</div>
      <% end %>
  </div>

  <div class="nav-small-top-link">
      <%= link_to services_path do %>
        <div class="nav-small-link-design">services</div>
      <% end %>
  </div>


  <div class="nav-small-top-link">
      <%= link_to contact_path do %>
        <div class="nav-small-link-design">contact</div>
      <% end %>
  </div>


  <div class="nav-small-top-link">
      <%= link_to new_quotation_path do %>
        <div class="nav-small-link-design">devis</div>
      <% end %>
  </div>


  <% if user_signed_in? %>

      <div class="nav-small-top-link">
        <%= link_to dashboard_pathfilter_path do %>
          <div class="nav-small-link-design">dashboard</div>
        <% end %>
      </div>

      <div class="nav-small-top-link">
        <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "admin-button-destroy" %>
      </div>

  <% end %>

</div>
