<div class="fullpage">


  <div class="fullpage-leftblock">

    <div class="leftblock-title">
      <div class="leftblock-text-show">DASHBOARD</div>
    </div>

    <div class="leftblock-content">
      <ul class="nav nav-pills nav-stacked">

        <li role="presentation" class="active">
          <i class="fa fa-circle" aria-hidden="true"></i>
          <a href="#one" data-toggle="tab">Produits</a>
          <div class="product-count"><%= "( #{@products.count} )" %></div>
        </li>

        <li role="presentation">
          <i class="fa fa-circle" aria-hidden="true"></i>
          <a href="#two" data-toggle="tab">Promos</a>
          <div class="product-count"><%= "( #{@promos.count} )" %></div>
        </li>

        <li role="presentation">
          <i class="fa fa-circle" aria-hidden="true"></i>
          <a href="#three" data-toggle="tab">Albums</a>
          <div class="product-count"><%= "( #{@albums.count} )" %></div>
        </li>

        <li role="presentation">
          <i class="fa fa-circle" aria-hidden="true"></i>
          <a href="#four" data-toggle="tab">Marques</a>
          <div class="product-count"><%= "( #{@brands.count} )" %></div>
        </li>

      </ul>
    </div>

  </div>






  <div class="fullpage-rightblock">

    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="one">

        <div class="rightblock-title">
          <div class="header-product-text">Produits</div>
          <div class="blind-count"><%= @products.count %> produits</div>

          <div class="add-model-name">
            <%= link_to new_product_path, class: "", data: { confirm: "Etes-vous sûr de vouloir créer un produit ?" } do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
            <% end %>
          </div>

          <%= render 'shared/flashes' %>

        </div>

        <% @types.each do |type| %>

          <div class="product-card-dashboard">





              <div class="header-container">
                <div class="dashboard-card-type">
                  <div class="card-type-text"><%= type.name.pluralize %></div>
                  <div class="blind-count"><%= "( #{type.products.count} ) " %></div>
                  <div class="product-links"></div>
                </div>
              </div>


              <div class="dashboard-table-header">
                <div class="product-id-header"><%= "id" %></div>
                <div class="product-id-title-header"><%= "titre" %></div>
                <div class="product-id-info-header"><%= "infos" %></div>
              </div>




              <div class="item-container">
                <% type.products.each do |product| %>

                  <div class="dashboard-card-item">
                    <div class="product-id"><%= "id : " %><%= product.id %></div>


                    <%= link_to product_path(product), class: "product-id-title" do %>
                        <%= product.title %>
                    <% end %>


                    <div class="product-id-info"><%= product.infos.count %></div>

                    <div class="product-links">

                      <%= link_to edit_product_path(product), class: "", data: { confirm: "Etes-vous sûr de vouloir modifier ce produit ?" } do %>
                        <i class="fa fa-cog" aria-hidden="true"></i>
                      <% end %>

                      <%= link_to new_product_info_path(product), class: "", data: { confirm: "Etes-vous sûr de vouloir créer une info pour ce produit ?" } do %>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      <% end %>

                      <%= link_to product_infos_path(product), class: "" do %>
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      <% end %>

                      <%= link_to product_path(product), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer ce produit ?" } do %>
                        <i class="fa fa-times" aria-hidden="true"></i>
                      <% end %>

                    </div>

                  </div>

                <% end %>
              </div>


          </div>

        <% end %>

      </div>



      <div role="tabpanel" class="tab-pane" id="two">

        <div class="rightblock-title">
          <div class="header-product-text">Promos</div>
          <div class="blind-count"><%= @promos.count %> promos</div>

          <div class="add-model-name">
            <%= link_to new_promo_path, class: "", data: { confirm: "Etes-vous sûr de vouloir créer une promo ?" } do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
            <% end %>
          </div>

        </div>


          <div class="product-card-dashboard">


              <div class="dashboard-table-header">
                <div class="product-id-header"><%= "id" %></div>
                <div class="product-id-title-header"><%= "titre" %></div>
                <div class="product-id-title-header"><%= "type" %></div>
                <div class="product-id-date-header"><%= "Début" %></div>
                <div class="product-id-date-header"><%= "Fin" %></div>
              </div>



              <div class="item-container">

                <% @promos.each do |promo| %>

                  <div class="dashboard-card-item">
                    <div class="product-id"><%= "id : " %><%= promo.id %></div>


                    <%= link_to promo_path(promo), class: "product-id-title" do %>
                        <%= promo.title %>
                    <% end %>


                    <div class="product-id-title"><%= promo.type.name %></div>

                    <div class="product-id-date"><%= promo.start.strftime("%Y-%b") %></div>

                    <div class="product-id-date"><%= promo.end.strftime("%Y-%b") %></div>

                    <div class="product-links-promo">

                      <%= link_to edit_promo_path(promo), class: "", data: { confirm: "Etes-vous sûr de vouloir modifier cette promo ?" } do %>
                        <i class="fa fa-cog" aria-hidden="true"></i>
                      <% end %>

                      <%= link_to promo_path(promo), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer cette promo ?" } do %>
                        <i class="fa fa-times" aria-hidden="true"></i>
                      <% end %>

                    </div>

                  </div>

                <% end %>

              </div>

          </div>


      </div>




      <div role="tabpanel" class="tab-pane" id="three">

        <div class="rightblock-title">
          <div class="header-product-text">Albums</div>
          <div class="blind-count"><%= @albums.count %> albums</div>

          <div class="add-model-name">
            <%= link_to new_album_path, class: "", data: { confirm: "Etes-vous sûr de vouloir créer un album ?" } do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
            <% end %>
          </div>

        </div>


          <div class="product-card-dashboard">


              <div class="dashboard-table-header">
                <div class="product-id-header"><%= "id" %></div>
                <div class="product-id-title-header"><%= "name" %></div>
                <div class="product-id-title-header"><%= "photos" %></div>
              </div>



              <div class="item-container">

                <% @albums.each do |album| %>

                  <div class="dashboard-card-item">
                    <div class="product-id"><%= "id : " %><%= album.id %></div>


                    <%= link_to album_path(album), class: "product-id-title" do %>
                        <%= album.name %>
                    <% end %>


                    <div class="product-id-title"><%= album.photos.count %></div>


                    <div class="product-links-promo">

                      <%= link_to edit_album_path(album), class: "", data: { confirm: "Etes-vous sûr de vouloir modifier cet album ?" } do %>
                        <i class="fa fa-cog" aria-hidden="true"></i>
                      <% end %>


                      <% if album.name == "homepage" %>
                          <i class="fa fa-warning" aria-hidden="true"></i>
                        <% else %>
                          <%= link_to album_path(album), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer cet album ?" } do %>
                            <i class="fa fa-times" aria-hidden="true"></i>
                          <% end %>
                      <% end %>

                    </div>

                  </div>

                <% end %>

              </div>

          </div>


      </div>















      <div role="tabpanel" class="tab-pane" id="four">

        <div class="rightblock-title">
          <div class="header-product-text">Marques</div>
          <div class="blind-count"><%= @brands.count %> marques</div>

          <div class="add-model-name">
            <%= link_to new_brand_path, class: "", data: { confirm: "Etes-vous sûr de vouloir créer une marque ?" } do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
            <% end %>
          </div>

        </div>


          <div class="product-card-dashboard">


              <div class="dashboard-table-header">
                <div class="product-id-header"><%= "id" %></div>
                <div class="product-id-title-header"><%= "name" %></div>
                <div class="product-id-title-header"><%= "produits" %></div>
              </div>



              <div class="item-container">

                <% @brands.each do |brand| %>

                  <div class="dashboard-card-item">
                    <div class="product-id"><%= "id : " %><%= brand.id %></div>


                    <%= link_to brand_path(brand), class: "product-id-title" do %>
                        <%= brand.name %>
                    <% end %>


                    <div class="product-id-title"><%= brand.products.count %></div>


                    <div class="product-links-promo">

                      <%= link_to edit_brand_path(brand), class: "", data: { confirm: "Etes-vous sûr de vouloir modifier cette marque ?" } do %>
                        <i class="fa fa-cog" aria-hidden="true"></i>
                      <% end %>



                      <%= link_to brand_path(brand), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer cette marque ?" } do %>
                        <i class="fa fa-times" aria-hidden="true"></i>
                      <% end %>


                    </div>

                  </div>

                <% end %>

              </div>

          </div>


      </div>














    </div>


  </div>





</div>

