<!--**************************** FULLPAGE START ****************************-->
<div class="dashboardv2-fullpage">




<!--************************************ DEBUT DU BLOC DE GAUCHE ************************************-->
  <div class="v2-fullpage-item-01">

    <div class="fullpage-overflow">


    <div class="v2-fullpage-item-01-header">
      <div class="header-hard-dashboard">Catégories</div>
    </div>


    <div class="dashv2-infos-compilated">
      <div class="dashv2-infos-compilated-item">
        <div class="v2-big-number"><%= @types.count %></div>
        <div class="dashv2-infos-compilated-item-label">Catégories</div>
      </div>



      <%= link_to new_type_path, class: "", data: { confirm: "Etes-vous sûr de vouloir créer une catégorie ?" } do %>
                  <div class="v4-info-new-button" style="color: rgba(55,55,55,0.7);">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <div class="v5-text-on-button-hover" style="left: -128px;">
                      <div class="animated pulse">Créer une catégorie</div>
                      <i class="fa fa-angle-right animated infinite pulse" aria-hidden="true" style="font-size: 15px;margin-left: 10px;"></i>
                    </div>
                  </div>
      <% end %>

    </div>


    <div class="dashboardv2-left-menu">
      <ul class="nav nav-pills nav-stacked">
      <% @types.each_with_index do |type,index| %>
        <% if type == @types.first %>
            <li role="presentation" class="active">
              <div class="menu-icon-show" style="color: <%= type.color %>;"><i class="fa fa-circle" aria-hidden="true"></i></div>
              <div class="index-on-navtabs" style="color: <%= type.color %>;"><%= "#{index + 1}" %></div>
              <a href="#<%= type.id %>" data-toggle="tab"><%= type.plurname %></a>
              <div class="v2-link-on-active">
                <%= link_to edit_type_path(type), class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir modifier cette catégorie ?" } do %>
                    <div class="text-on-edit-hover" style="color: <%= type.color %>;">Modifier</div>
                    <i class="fa fa-pencil" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
                <%= link_to type_path(type), method: :delete, class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir supprimer cette catégorie ?" } do %>
                    <div class="text-on-destroy-hover" style="color: <%= type.color %>;">Supprimer</div>
                    <i class="fa fa-times" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
              </div>
            </li>
        <% else %>
            <li role="presentation">
              <div class="menu-icon-show" style="color: <%= type.color %>;"><i class="fa fa-circle" aria-hidden="true"></i></div>
              <div class="index-on-navtabs" style="color: <%= type.color %>;"><%= "#{index + 1}" %></div>
              <a href="#<%= type.id %>" data-toggle="tab"><%= type.plurname %></a>
              <div class="v2-link-on-active">
                <%= link_to edit_type_path(type), class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir modifier cette catégorie ?" } do %>
                  <div class="text-on-edit-hover" style="color: <%= type.color %>;">Modifier</div>
                    <i class="fa fa-pencil" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
                <%= link_to type_path(type), method: :delete, class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir supprimer cette catégorie ?" } do %>
                    <div class="text-on-destroy-hover" style="color: <%= type.color %>;">Supprimer</div>
                    <i class="fa fa-times" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
              </div>
            </li>
        <% end %>
      <% end %>
      </ul>
    </div>





        </div>
  </div>
<!--************************************ FIN DU BLOC DE GAUCHE ************************************-->







<!--************************************ DEBUT DU BLOC DU MILIEU ************************************-->
  <div class="v2-fullpage-item-02">

    <div class="fullpage-rightblock">

    <div class="tab-content">

      <% @types.each do |type| %>


      <% if type == @types.first %>
    <!--****************************** CONTENU SI PREMIER TAB DES TYPES ******************************-->
    <div role="tabpanel" class="tab-pane active" id="<%= type.id %>">



        <!--*********** TOP HEADER START ***********-->
        <div class="v2-fullpage-item-01-header">
           <div class="header-hard-dashboard" style="opacity: 0.4;">Catégorie</div>
           <div style="margin-left: 8px;margin-right: 8px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
           <div class="header-hard-dashboard"><%= type.plurname %></div>
        </div>
        <!--*********** TOP HEADER END ***********-->





        <!--*********** COMPILATED PRODUCTS CONTAINER START ***********-->
        <div class="dashv2-infos-compilated-alt">
          <div class="dashv2-infos-compilated-item">
            <div class="v2-big-type-color" style="background-color: <%= type.color %>;"></div>
            <div class="dashv2-infos-compilated-item-label">Couleur</div>
          </div>
          <div class="dashv2-infos-compilated-item">
            <div class="v2-big-number"><%= type.products.count %></div>
            <div class="dashv2-infos-compilated-item-label">Produits</div>
          </div>
          <%= link_to new_type_product_path(type), class: "", data: { confirm: "Etes-vous sûr de vouloir créer un produit ?" } do %>

                  <div class="v4-info-new-button" style="color: rgba(55,55,55,0.7);">
                    <i class="fa fa-plus-circle" aria-hidden="true" style="color: <%= type.color %>;"></i>
                    <div class="v5-text-on-button-hover">
                      <div class="animated pulse">Créer un produit</div>
                      <i class="fa fa-angle-right animated infinite pulse" aria-hidden="true" style="font-size: 15px;margin-left: 10px;"></i>
                    </div>
                  </div>


          <% end %>

        </div>
        <!--*********** COMPILATED PRODUCTS CONTAINER END ***********-->





        <!--*********** EACH TYPE PRODUCTS CONTAINER START ***********-->
        <div class="dashboardv2-left-menu">
          <ul class="nav nav-pills nav-stacked">
            <% type.products.each do |product| %>


                <% if type.products.first == product %>
            <li role="presentation" class="active">
              <div class="menu-icon-show"><i class="fa fa-circle" aria-hidden="true" style="color: <%= type.color %>;"></i></div>
              <a href="#<%= "#{product.id}" + "produit" + "#{type.id}" %>" data-toggle="tab"><%= product.title %></a>
              <div class="v2-link-on-active">
                <%= link_to edit_type_product_path(type, product), class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir modifier ce produit ?" } do %>
                    <div class="text-on-edit-hover" style="color: <%= type.color %>;">Modifier</div>
                    <i class="fa fa-pencil" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
                <%= link_to type_product_path(type, product), method: :delete, class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir supprimer ce produit ?" } do %>
                    <div class="text-on-destroy-hover" style="color: <%= type.color %>;">Supprimer</div>
                    <i class="fa fa-times" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
              </div>
            </li>

        <% else %>
            <li role="presentation">
              <div class="menu-icon-show"><i class="fa fa-circle" aria-hidden="true" style="color: <%= type.color %>;"></i></div>
              <a href="#<%= "#{product.id}" + "produit" + "#{type.id}" %>" data-toggle="tab"><%= product.title %></a>
              <div class="v2-link-on-active">
                <%= link_to edit_type_product_path(type, product), class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir modifier ce produit ?" } do %>
                    <div class="text-on-edit-hover" style="color: <%= type.color %>;">Modifier</div>
                    <i class="fa fa-pencil" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
                <%= link_to type_product_path(type, product), method: :delete, class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir supprimer ce produit ?" } do %>
                    <div class="text-on-destroy-hover" style="color: <%= type.color %>;">Supprimer</div>
                    <i class="fa fa-times" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
              </div>
            </li>
        <% end %>

            <% end %>
          </ul>
        </div>
        <!--*********** EACH TYPE PRODUCTS CONTAINER END ***********-->



        <!--*********** COMPILATED PROMOS CONTAINER START ***********-->
        <div class="dashv2-infos-compilated-alt">

                <div class="dashv2-infos-compilated-item">
                  <div class="v2-big-number"><%= type.promos.count %></div>
                  <% if type.promos.count <= 1 %>
                    <div class="dashv2-infos-compilated-item-label">Promo</div>
                  <% else %>
                    <div class="dashv2-infos-compilated-item-label">Promos</div>
                  <% end %>
                </div>

                <% if type.promos.where( "current = true " ).last %>
                  <div class="v5-type-with-active-promo">
                    <div class="active-promo-green-dot"></div>
                    <div class="active-promo-green-dot-text">Promo active</div>
                  </div>
               <% end %>

                <%= link_to new_type_promo_path(type), class: "", data: { confirm: "Etes-vous sûr de vouloir créer une promo pour cette catégorie ?" } do %>

                  <div class="v4-info-new-button" style="color: <%= type.color %>;">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <div class="v5-text-on-button-hover">
                      <div class="animated pulse">Créer une promo</div>
                      <i class="fa fa-angle-right animated infinite pulse" aria-hidden="true" style="font-size: 15px;margin-left: 10px;"></i>
                    </div>
                  </div>

                <% end %>

        </div>
        <!--*********** COMPILATED PROMOS CONTAINER END ***********-->




          <!--*********** EACH TYPE PROMOS CONTAINER START ***********-->
            <div class="v3-prod-infos-alt">

              <% if type.promos.any? %>

                <div class="infos-volets">
                    <% type.promos.each do |promo| %>

                      <div class="infos-item-boob">

                       <% if promo.current? %>
                          <div class="v5-type-with-active-promo">
                            <div class="active-promo-green-dot"></div>
                            <div class="active-promo-green-dot-text">Active</div>
                          </div>
                        <% else %>
                          <div class="v5-type-with-active-promo">
                            <div class="active-promo-green-dot" style="background-color: rgba(155,155,155,0.4);"></div>
                          </div>
                        <% end %>


                        <!-- <div class="infos-icon-boob" style="background-image: url(<%= cl_image_path promo.photos.last.path %>);"></div> -->

                        <div class="infos-big-boob"><%= truncate( promo.title, length: 18, omission: '...' ) %></div>


                        <div class="infos-small-boob"></div>

                        <div class="v2-link-on-active-infos">
                          <%= link_to edit_type_promo_path(type,promo), class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir modifier cette promo ?" } do %>
                              <div class="text-on-edit-hover" style="color: <%= type.color %>;">Modifier</div>
                              <i class="fa fa-pencil" aria-hidden="true" style="color: rgba(55,55,55,0.8);"></i>
                          <% end %>
                          <%= link_to type_promo_path(type,promo), method: :delete, class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir supprimer cette promo ?" } do %>
                              <div class="text-on-destroy-hover" style="color: <%= type.color %>;">Supprimer</div>
                              <i class="fa fa-times" aria-hidden="true" style="color: rgba(55,55,55,0.8);"></i>
                          <% end %>
                        </div>

                      </div>

                    <% end %>
                </div>

              <% else %>
                <div class="v4-no-promo-div">
                  <div class="v5-big-text">Pas de promo</div>
                  <div class="v4-no-promo-div-small-text" style="color: rgba(25,25,25,0.8);">Cliquez sur + pour créer une promo !!</div>
                </div>
              <% end %>

            </div>
            <!--*********** EACH TYPE PROMOS CONTAINER END ***********-->




            <!--*********** ALBUMS HEADER START ***********-->


              <div class="dashv2-infos-compilated-alt" style="border-top: 1px solid rgba(100,100,100,0.2);">

                <div class="dashv2-infos-compilated-item">
                  <% if type.albums.any? %>
                    <div class="v2-big-number-brand" style="color: #52D681;">Oui</div>
                  <% else %>
                    <div class="v2-big-number-brand" style="color: #FA4659;">Non</div>
                  <% end %>
                  <div class="dashv2-infos-compilated-item-label">Album</div>

                </div>


                <% if type.albums.any? %>

                  <%= link_to edit_type_album_path(type,type.albums.last), class: "", data: { confirm: "Modifier l'album ?" } do %>
                    <div class="v4-info-new-button" style="color: <%= type.color %>;">
                      <i class="fa fa-toggle-on" aria-hidden="true"></i>
                      <div class="v5-text-on-button-hover">
                      <div class="animated pulse">Editer l'album</div>
                      <i class="fa fa-angle-right animated infinite pulse" aria-hidden="true" style="font-size: 15px;margin-left: 10px;"></i>
                    </div>
                    </div>
                  <% end %>

                <% else %>

                  <%= link_to new_type_album_path(type), class: "", data: { confirm: "Créer un album pour cette catégorie ?" } do %>
                    <div class="v4-info-new-button" style="color: <%= type.color %>;">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      <div class="v5-text-on-button-hover">
                      <div class="animated pulse">Créer un album</div>
                      <i class="fa fa-angle-right animated infinite pulse" aria-hidden="true" style="font-size: 15px;margin-left: 10px;"></i>
                    </div>
                    </div>
                  <% end %>

                <% end %>
              </div>

            <!--*********** ALBUMS HEADER END ***********-->


      <!--*********** ALBUMS CONTAINER START ***********-->


          <% if type.albums.any? %>


            <!--*********** IF ALBUM PRESENT START ***********-->
            <div class="v3-prod-infos-alt">
                    <div class="infos-volets">
                        <% type.albums.each do |album| %>

                          <div class="infos-item-boob">

                            <div class="v10-album-name"><%= album.name %>&nbsp;</div>

                            <div class="infos-small-boob"><%= "#{album.photos.count} photos" %></div>

                            <div class="v2-link-on-active-infos">
                              <%= link_to edit_type_album_path(type,album), class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir modifier cet album ?" } do %>
                                  <div class="text-on-edit-hover">Modifier</div>
                                  <i class="fa fa-pencil" aria-hidden="true" style="color: rgba(55,55,55,0.8);"></i>
                              <% end %>
                              <%= link_to type_album_path(type, album), method: :delete, class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir supprimer cet album ?" } do %>
                                  <div class="text-on-destroy-hover">Supprimer</div>
                                  <i class="fa fa-times" aria-hidden="true" style="color: rgba(55,55,55,0.8);"></i>
                              <% end %>
                            </div>

                          </div>

                        <% end %>
                    </div>
            </div>
            <!--*********** IF ALBUM PRESENT END ***********-->


          <% else %>

            <div class="v3-prod-infos-alt">
              <div class="v4-no-promo-div">
                  <div class="v5-big-text">Pas d'album</div>
                  <div class="v4-no-promo-div-small-text" style="color: rgba(25,25,25,0.8);">Cliquez sur + pour créer un album !!</div>
              </div>
            </div>

          <% end %>



        <!--*********** ALBUMS CONTAINER END ***********-->


    </div>
    <!--**************************** CONTENU SI PREMIER TAB DES TYPES END ****************************-->

  <% else %>

    <!--**************************** CONTENU DES AUTRES TABS DES TYPES START ****************************-->
    <div role="tabpanel" class="tab-pane" id="<%= type.id %>">



        <div class="v2-fullpage-item-01-header">
           <div class="header-hard-dashboard" style="opacity: 0.4;">Catégorie</div>
           <div style="margin-left: 8px;margin-right: 8px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
           <div class="header-hard-dashboard"><%= type.plurname %></div>
        </div>


        <div class="dashv2-infos-compilated-alt">
          <div class="dashv2-infos-compilated-item">
            <div class="v2-big-type-color" style="background-color: <%= type.color %>;"></div>
            <div class="dashv2-infos-compilated-item-label">Couleur</div>
          </div>
          <div class="dashv2-infos-compilated-item">
            <div class="v2-big-number"><%= type.products.count %></div>
            <div class="dashv2-infos-compilated-item-label">Produits</div>
          </div>
          <%= link_to new_type_product_path(type), class: "", data: { confirm: "Etes-vous sûr de vouloir créer un produit ?" } do %>

                  <div class="v4-info-new-button" style="color: rgba(55,55,55,0.7);">
                    <i class="fa fa-plus-circle" aria-hidden="true" style="color: <%= type.color %>;"></i>
                    <div class="v5-text-on-button-hover">
                      <div class="animated pulse">Créer un produit</div>
                      <i class="fa fa-angle-right animated infinite pulse" aria-hidden="true" style="font-size: 15px;margin-left: 10px;"></i>
                    </div>
                  </div>


          <% end %>

        </div>


    <div class="dashboardv2-left-menu">
      <ul class="nav nav-pills nav-stacked">
        <% type.products.each do |product| %>


              <% if product == type.products.first %>
            <li role="presentation" class="active">
              <div class="menu-icon-show"><i class="fa fa-circle" aria-hidden="true" style="color: <%= type.color %>;"></i></div>
              <a href="#<%= "#{product.id}" + "produit" + "#{type.id}" %>" data-toggle="tab"><%= product.title %></a>
              <div class="v2-link-on-active">
                <%= link_to edit_type_product_path(type,product), class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir modifier ce produit ?" } do %>
                    <div class="text-on-edit-hover" style="color: <%= type.color %>;">Modifier</div>
                    <i class="fa fa-pencil" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
                <%= link_to type_product_path(type,product), method: :delete, class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir supprimer ce produit ?" } do %>
                    <div class="text-on-destroy-hover" style="color: <%= type.color %>;">Supprimer</div>
                    <i class="fa fa-times" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
              </div>
            </li>
        <% else %>
            <li role="presentation">
              <div class="menu-icon-show"><i class="fa fa-circle" aria-hidden="true" style="color: <%= type.color %>;"></i></div>
              <a href="#<%= "#{product.id}" + "produit" + "#{type.id}" %>" data-toggle="tab"><%= product.title %></a>
              <div class="v2-link-on-active">
                <%= link_to edit_type_product_path(type, product), class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir modifier ce produit ?" } do %>
                    <div class="text-on-edit-hover" style="color: <%= type.color %>;">Modifier</div>
                    <i class="fa fa-pencil" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
                <%= link_to type_product_path(type, product), method: :delete, class: "v3-link",data: { confirm: "Etes-vous sûr de vouloir supprimer ce produit ?" } do %>
                    <div class="text-on-destroy-hover" style="color: <%= type.color %>;">Supprimer</div>
                    <i class="fa fa-times" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
              </div>
            </li>
        <% end %>



        <% end %>
      </ul>
    </div>

    <div class="dashv2-infos-compilated-alt">

                <div class="dashv2-infos-compilated-item">
                  <div class="v2-big-number"><%= type.promos.count %></div>
                  <% if type.promos.count <= 1 %>
                    <div class="dashv2-infos-compilated-item-label">Promo</div>
                  <% else %>
                    <div class="dashv2-infos-compilated-item-label">Promos</div>
                  <% end %>
                </div>

                <% if type.promos.where( "current = true " ).last %>
                  <div class="v5-type-with-active-promo">
                    <div class="active-promo-green-dot"></div>
                    <div class="active-promo-green-dot-text">Promo active</div>
                  </div>
               <% end %>

                <%= link_to new_type_promo_path(type), class: "", data: { confirm: "Etes-vous sûr de vouloir créer une promo pour cette catégorie ?" } do %>

                  <div class="v4-info-new-button" style="color: <%= type.color %>;">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <div class="v5-text-on-button-hover">
                      <div class="animated pulse">Créer une promo</div>
                      <i class="fa fa-angle-right animated infinite pulse" aria-hidden="true" style="font-size: 15px;margin-left: 10px;"></i>
                    </div>
                  </div>


                <% end %>

    </div>






            <div class="v3-prod-infos-alt">

              <% if type.promos.any? %>

                <div class="infos-volets">
                    <% type.promos.each do |promo| %>

                      <div class="infos-item-boob">


                        <% if promo.current? %>
                          <div class="v5-type-with-active-promo">
                            <div class="active-promo-green-dot"></div>
                            <div class="active-promo-green-dot-text">Active</div>
                          </div>
                        <% else %>
                          <div class="v5-type-with-active-promo">
                            <div class="active-promo-green-dot" style="background-color: rgba(155,155,155,0.4);"></div>
                          </div>
                        <% end %>


                        <!-- <div class="infos-icon-boob" style="background-image: url(<%= cl_image_path promo.photos.last.path %>);"></div> -->

                        <div class="infos-big-boob"><%= truncate( promo.title, length: 18, omission: '...' ) %></div>



                        <div class="infos-small-boob"></div>

                        <div class="v2-link-on-active-infos">
                          <%= link_to edit_type_promo_path(type, promo), class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir modifier cette promo ?" } do %>
                              <div class="text-on-edit-hover" style="color: <%= type.color %>;">Modifier</div>
                              <i class="fa fa-pencil" aria-hidden="true" style="color: rgba(55,55,55,0.8);"></i>
                          <% end %>
                          <%= link_to type_promo_path(type, promo), method: :delete, class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir supprimer cette promo ?" } do %>
                              <div class="text-on-destroy-hover" style="color: <%= type.color %>;">Supprimer</div>
                              <i class="fa fa-times" aria-hidden="true" style="color: rgba(55,55,55,0.8);"></i>
                          <% end %>
                        </div>

                      </div>

                    <% end %>
                </div>

              <% else %>
                <div class="v4-no-promo-div">
                  <div class="v5-big-text">Pas de promo</div>
                  <div class="v4-no-promo-div-small-text" style="color: rgba(25,25,25,0.8);">Cliquez sur + pour créer une promo !!</div>
                </div>
              <% end %>

            </div>



<!--*********** ALBUMS HEADER START ***********-->


 <div class="dashv2-infos-compilated-alt" style="border-top: 1px solid rgba(100,100,100,0.2);">
                <div class="dashv2-infos-compilated-item">
                  <% if type.albums.any? %>
                    <div class="v2-big-number-brand" style="color: #52D681;">Oui</div>
                  <% else %>
                    <div class="v2-big-number-brand" style="color: #FA4659;">Non</div>
                  <% end %>
                  <div class="dashv2-infos-compilated-item-label">Album</div>

                </div>


                <% if type.albums.any? %>

                  <%= link_to edit_type_album_path(type,type.albums.last), class: "", data: { confirm: "Modifier l'album ?" } do %>
                    <div class="v4-info-new-button" style="color: <%= type.color %>;">
                      <i class="fa fa-toggle-on" aria-hidden="true"></i>
                      <div class="v5-text-on-button-hover">
                      <div class="animated pulse">Editer l'album</div>
                      <i class="fa fa-angle-right animated infinite pulse" aria-hidden="true" style="font-size: 15px;margin-left: 10px;"></i>
                    </div>
                    </div>
                  <% end %>

                <% else %>

                  <%= link_to new_type_album_path(type), class: "", data: { confirm: "Créer un album pour cette catégorie ?" } do %>
                    <div class="v4-info-new-button" style="color: <%= type.color %>;">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      <div class="v5-text-on-button-hover">
                      <div class="animated pulse">Créer un album</div>
                      <i class="fa fa-angle-right animated infinite pulse" aria-hidden="true" style="font-size: 15px;margin-left: 10px;"></i>
                    </div>
                    </div>
                  <% end %>

                <% end %>
              </div>



<!--*********** ALBUMS HEADER END ***********-->


<!--*********** ALBUMS CONTAINER START ***********-->


          <% if type.albums.any? %>


            <!--*********** SI ALBUM PRESENT ***********-->
            <div class="v3-prod-infos-alt">
                    <div class="infos-volets">
                        <% type.albums.each do |album| %>

                          <div class="infos-item-boob">

                            <div class="v10-album-name"><%= album.name %>&nbsp;</div>

                            <div class="infos-small-boob"><%= "#{album.photos.count} photos" %></div>

                            <div class="v2-link-on-active-infos">
                              <%= link_to edit_type_album_path(type, album), class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir modifier cet album ?" } do %>
                                  <div class="text-on-edit-hover">Modifier</div>
                                  <i class="fa fa-pencil" aria-hidden="true" style="color: rgba(55,55,55,0.8);"></i>
                              <% end %>
                              <%= link_to type_album_path(type, album), method: :delete, class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir supprimer cet album ?" } do %>
                                  <div class="text-on-destroy-hover">Supprimer</div>
                                  <i class="fa fa-times" aria-hidden="true" style="color: rgba(55,55,55,0.8);"></i>
                              <% end %>
                            </div>

                          </div>

                        <% end %>
                    </div>
            </div>
        <!--*********** SI ALBUM PRESENT ***********-->


          <% else %>

            <div class="v3-prod-infos-alt">
              <div class="v4-no-promo-div">
                  <div class="v5-big-text">Pas de pouvoirs</div>
                  <div class="v4-no-promo-div-small-text" style="color: rgba(25,25,25,0.8);">Cliquez sur + pour créer un album !!</div>
              </div>
            </div>

          <% end %>



<!--*********** ALBUMS CONTAINER END ***********-->












    </div>
  <% end %>
<% end %>


  </div>
  </div>
  </div>


  <!--************************************ DEBUT DU BLOC DE DROITE ************************************-->
  <div class="v2-fullpage-item-03">
    <div class="tab-content">

      <% @types.each do |type| %>
        <% type.products.each do |product| %>

          <% if product == type.products.first %>

            <div role="tabpanel" class="tab-pane" id="<%= "#{product.id}" + "produit" + "#{type.id}" %>">

              <div class="v2-fullpage-item-01-header">
                 <div class="header-hard-dashboard" style="opacity: 0.4;"><%= type.plurname %></div>
                 <div style="margin-left: 8px;margin-right: 8px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                 <div class="header-hard-dashboard"><%= product.title %></div>
              </div>

              <div class="dashv2-infos-compilated-alt">

                <div class="dashv2-infos-compilated-item">
                  <div class="v2-big-number"><%= product.infos.count %></div>
                  <% if product.infos.count == 1 %>
                    <div class="dashv2-infos-compilated-item-label">Info</div>
                  <% else %>
                    <div class="dashv2-infos-compilated-item-label">Infos</div>
                  <% end %>
                </div>

                <%= link_to new_type_product_info_path(type,product), class: "", data: { confirm: "Etes-vous sûr de vouloir créer une info pour ce produit ?" } do %>

                  <div class="v4-info-new-button" style="color: <%= type.color %>;">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <div class="v5-text-on-button-hover">
                      <div class="animated pulse">Créer une info</div>
                      <i class="fa fa-angle-right animated infinite pulse" aria-hidden="true" style="font-size: 15px;margin-left: 10px;"></i>
                    </div>
                  </div>

                <% end %>

              </div>



              <div class="v3-prod-infos">

                <div class="infos-volets">
                    <% product.infos.each do |info| %>

                      <div class="infos-item-boob">
                        <div class="infos-icon-boob" style="background-image: url(<%= cl_image_path info.icon.path %>);"></div>

                        <div class="infos-big-boob"><%= info.title %>&nbsp;</div>

                        <div class="infos-small-boob"><%= info.content %>&nbsp;</div>

                        <div class="v2-link-on-active-infos">
                          <%= link_to edit_type_product_info_path(type,product,info), class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir modifier cette info ?" } do %>
                              <div class="text-on-edit-hover" style="color: <%= type.color %>;">Modifier</div>
                              <i class="fa fa-pencil" aria-hidden="true" style="color: <%= type.color %>;"></i>
                          <% end %>
                          <%= link_to type_product_info_path(type,product,info), method: :delete, class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir supprimer ce produit ?" } do %>
                              <div class="text-on-destroy-hover" style="color: <%= type.color %>;">Supprimer</div>
                              <i class="fa fa-times" aria-hidden="true" style="color: <%= type.color %>;"></i>
                          <% end %>
                        </div>

                      </div>

                    <% end %>
                  </div>
              </div>



              <div class="dashv2-infos-compilated-alt">
                <div class="dashv2-infos-compilated-item">
                  <% if product.powers.any? %>
                    <div class="v2-big-number-brand" style="color: #52D681;">Oui</div>
                  <% else %>
                    <div class="v2-big-number-brand" style="color: #FA4659;">Non</div>
                  <% end %>
                  <div class="dashv2-infos-compilated-item-label">Powers</div>

                </div>


                <% if product.powers.any? %>

                  <%= link_to edit_type_product_power_path(type, product, product.powers.last), class: "", data: { confirm: "Modifier ce pouvoir ?" } do %>
                    <div class="v4-info-new-button" style="color: <%= type.color %>;">
                      <i class="fa fa-toggle-on" aria-hidden="true"></i>
                      <div class="v5-text-on-button-hover">
                      <div class="animated pulse">Editer les pouvoirs</div>
                      <i class="fa fa-angle-right animated infinite pulse" aria-hidden="true" style="font-size: 15px;margin-left: 10px;"></i>
                    </div>
                    </div>
                  <% end %>

                <% else %>

                  <%= link_to new_type_product_power_path(type, product), class: "", data: { confirm: "Créer des pouvoirs pour ce produit ?" } do %>
                    <div class="v4-info-new-button" style="color: <%= type.color %>;">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      <div class="v5-text-on-button-hover">
                      <div class="animated pulse">Créer des pouvoirs</div>
                      <i class="fa fa-angle-right animated infinite pulse" aria-hidden="true" style="font-size: 15px;margin-left: 10px;"></i>
                    </div>
                    </div>
                  <% end %>

                <% end %>
              </div>





              <% if product.powers.any? %>


                <div class="v3-dash-powers-container">


                  <% if product.powers.last.sun == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Soleil</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'sun.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.rain == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Pluie</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'rain.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.wind == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Vent</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'wind.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.cold == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Froid</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'cold.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.hot == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Chaleur</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'hot.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.humidity == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Humidité</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'humidity.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.energysaver == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Enérgie</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'eolienne.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.taxsaver == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Impots</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'price.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.insects == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Insectes</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'insects.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.security == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Sécurité</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'security.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.inside == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Intérieur</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'inside.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.outside == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Extérieur</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'outside.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.certification == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Certif</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'certif.svg' %>);"></div>
                    </div>
                  <% end %>

                </div>

                <% else %>

                  <div class="v3-prod-infos-alt">
                    <div class="v4-no-promo-div">
                      <div class="v5-big-text">Pas de pouvoirs</div>
                      <div class="v4-no-promo-div-small-text" style="color: rgba(25,25,25,0.8);">Cliquez sur + pour créer des pouvoirs !!</div>
                    </div>
                  </div>

              <% end %>


            </div>



          <% else %>

            <div role="tabpanel" class="tab-pane" id="<%= "#{product.id}" + "produit" + "#{type.id}" %>">

              <div class="v2-fullpage-item-01-header">
                 <div class="header-hard-dashboard" style="opacity: 0.4;"><%= type.plurname %></div>
                 <div style="margin-left: 8px;margin-right: 8px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                 <div class="header-hard-dashboard"><%= product.title %></div>
              </div>

              <div class="dashv2-infos-compilated-alt">

                <div class="dashv2-infos-compilated-item">
                  <div class="v2-big-number"><%= product.infos.count %></div>
                  <% if product.infos.count == 1 %>
                    <div class="dashv2-infos-compilated-item-label">Info</div>
                  <% else %>
                    <div class="dashv2-infos-compilated-item-label">Infos</div>
                  <% end %>
                </div>

                <%= link_to new_type_product_info_path(type, product), class: "", data: { confirm: "Etes-vous sûr de vouloir créer une info pour ce produit ?" } do %>

                  <div class="v4-info-new-button" style="color: <%= type.color %>;">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    <div class="v5-text-on-button-hover">
                      <div class="animated pulse">Créer une info</div>
                      <i class="fa fa-angle-right animated infinite pulse" aria-hidden="true" style="font-size: 15px;margin-left: 10px;"></i>
                    </div>
                  </div>

                <% end %>

              </div>



              <div class="v3-prod-infos">
                <div class="infos-volets">
                    <% product.infos.each do |info| %>

                      <div class="infos-item-boob">
                        <div class="infos-icon-boob" style="background-image: url(<%= cl_image_path info.icon.path %>);"></div>

                        <div class="infos-big-boob"><%= info.title %>&nbsp;</div>

                        <div class="infos-small-boob"><%= info.content %>&nbsp;</div>

                        <div class="v2-link-on-active-infos">
                          <%= link_to edit_type_product_info_path(type,product,info), class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir modifier cette info ?" } do %>
                              <div class="text-on-edit-hover" style="color: <%= type.color %>;">Modifier</div>
                              <i class="fa fa-pencil" aria-hidden="true" style="color: <%= type.color %>;"></i>
                          <% end %>
                          <%= link_to type_product_info_path(type,product,info), method: :delete, class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir supprimer ce produit ?" } do %>
                              <div class="text-on-destroy-hover" style="color: <%= type.color %>;">Supprimer</div>
                              <i class="fa fa-times" aria-hidden="true" style="color: <%= type.color %>;"></i>
                          <% end %>
                        </div>

                      </div>

                    <% end %>
                  </div>
              </div>



              <div class="dashv2-infos-compilated-alt">

                <div class="dashv2-infos-compilated-item">
                  <% if product.powers.any? %>
                    <div class="v2-big-number-brand" style="color: #52D681;">Oui</div>
                  <% else %>
                    <div class="v2-big-number-brand" style="color: #FA4659;">Non</div>
                  <% end %>
                  <div class="dashv2-infos-compilated-item-label">Powers</div>

                </div>


                <% if product.powers.any? %>

                  <%= link_to edit_type_product_power_path(type,product,product.powers.last), class: "", data: { confirm: "Modifier ce pouvoir ?" } do %>
                    <div class="v4-info-new-button" style="color: <%= type.color %>;">
                      <i class="fa fa-toggle-on" aria-hidden="true"></i>
                      <div class="v5-text-on-button-hover">
                      <div class="animated pulse">Editer les pouvoirs</div>
                      <i class="fa fa-angle-right animated infinite pulse" aria-hidden="true" style="font-size: 15px;margin-left: 10px;"></i>
                    </div>
                    </div>
                  <% end %>

                <% else %>

                  <%= link_to new_type_product_power_path(type, product), class: "", data: { confirm: "Créer des pouvoirs pour ce produit ?" } do %>
                    <div class="v4-info-new-button" style="color: <%= type.color %>;">
                      <i class="fa fa-plus-circle" aria-hidden="true"></i>
                      <div class="v5-text-on-button-hover">
                      <div class="animated pulse">Créer des pouvoirs</div>
                      <i class="fa fa-angle-right animated infinite pulse" aria-hidden="true" style="font-size: 15px;margin-left: 10px;"></i>
                    </div>
                    </div>
                  <% end %>

                <% end %>
              </div>




               <% if product.powers.any? %>


                <div class="v3-dash-powers-container">


                  <% if product.powers.last.sun == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Soleil</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'sun.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.rain == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Pluie</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'rain.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.wind == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Vent</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'wind.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.cold == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Froid</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'cold.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.hot == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Chaleur</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'hot.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.humidity == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Humidité</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'humidity.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.energysaver == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Enérgie</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'eolienne.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.taxsaver == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Impots</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'price.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.insects == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Insectes</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'insects.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.security == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Sécurité</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'security.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.inside == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Intérieur</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'inside.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.outside == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Extérieur</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'outside.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.powers.last.certification == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Certif</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'certif.svg' %>);"></div>
                    </div>
                  <% end %>

                </div>

                <% else %>

                  <div class="v3-prod-infos-alt">
                    <div class="v4-no-promo-div">
                      <div class="v5-big-text">Pas de pouvoirs</div>
                      <div class="v4-no-promo-div-small-text" style="color: rgba(25,25,25,0.8);">Cliquez sur + pour créer des pouvoirs !!</div>
                    </div>
                  </div>

              <% end %>



            </div>

          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>








</div>








<!--**************************** BOTTOM CONTAINER START ****************************-->
<div class="dashboardv2-fullpage-bottom">

    <div class="dashboardv2-fullpage-bottom-item-2">
        <div class="v6-bottom-left-dash">

            <div class="v7-flexbox-column">
              <div class="header-hard-dashboard">Dashboard</div>

              <div class="v7-flexbox-inline">
                <div class="dashboard-user-email-dot"><i class="fa fa-circle" aria-hidden="true"></i></div>
                <div class="dashboard-user-email"><%= current_user.email %></div>
              </div>
            </div>

            <div class="all-active-promo">
              <div class="all-active-promo-header">
                <div class="all-active-promo-header-text">Promos actives</div>
              </div>
              <div class="all-active-promo-content">
                <% @promos.where( "current = true" ).each do |current_promo| %>
                  <div class="all-active-promo-header-text-v2"><%= truncate(current_promo.title, length: 15, omission: "...") %></div>
                <% end %>
              </div>
            </div>

        </div>
    </div>



    <div class="dashboardv2-fullpage-bottom-item-55">
        <div class="v6-bottom-middle-dash">

            <div class="dashv2-infos-compilated-item">
              <div class="v2-big-number"><%= @types.count %></div>
              <div class="dashv2-infos-compilated-item-label">Catégories</div>
            </div>

            <div class="dashv2-infos-compilated-item">
              <div class="v2-big-number"><%= @products.count %></div>
              <div class="dashv2-infos-compilated-item-label">Produits</div>
            </div>

            <div class="dashv2-infos-compilated-item">
              <div class="v2-big-number"><%= @promos.count %></div>
              <div class="dashv2-infos-compilated-item-label">Promos</div>
            </div>

            <div class="dashv2-infos-compilated-item">
              <div class="v2-big-number"><%= @albums.count %></div>
              <div class="dashv2-infos-compilated-item-label">Albums</div>
            </div>

        </div>




    </div>



    <div class="dashboardv2-fullpage-bottom-item-1">
      <div class="v6-bottom-right-dash">

          <%= render 'shared/flashes' %>

          <%= link_to destroy_user_session_path, method: :delete, data: { confirm: "Etes-vous sûr de vouloir vous déconnecter?" } do %>
              <div class="dashboard-user-signout">
                <div class="text-on-signout-hover">Déconnexion</div>
                <i class="fa fa-sign-out" aria-hidden="true"></i>
              </div>
          <% end %>
      </div>
    </div>


</div>
<!--**************************** BOTTOM CONTAINER END ****************************-->





</div>
<!--**************************** FULLPAGE END ****************************-->




