<div class="fullpage">


  <div class="fullpage-leftblock">

    <div class="leftblock-title">
      <div class="leftblock-text-show">DASHBOARD</div>
    </div>

    <div class="leftblock-content">
      <ul class="nav nav-pills nav-stacked">

        <li role="presentation" class="active">
          <i class="fa fa-circle" aria-hidden="true"></i>
          <a href="#one" data-toggle="tab">Produits</a>
          <div class="product-count"><%= "( #{@products.count} )" %></div>
        </li>

        <li role="presentation">
          <i class="fa fa-circle" aria-hidden="true"></i>
          <a href="#two" data-toggle="tab">Promos</a>
          <div class="product-count"><%= "( #{@promos.count} )" %></div>
        </li>

        <li role="presentation">
          <i class="fa fa-circle" aria-hidden="true"></i>
          <a href="#three" data-toggle="tab">Albums</a>
          <div class="product-count"><%= "( #{@albums.count} )" %></div>
        </li>

        <li role="presentation">
          <i class="fa fa-circle" aria-hidden="true"></i>
          <a href="#four" data-toggle="tab">Marques</a>
          <div class="product-count"><%= "( #{@brands.count} )" %></div>
        </li>

        <li role="presentation">
          <i class="fa fa-circle" aria-hidden="true"></i>
          <a href="#five" data-toggle="tab">Catégories</a>
          <div class="product-count"><%= "( #{@types.count} )" %></div>
        </li>

      </ul>
    </div>

  </div>






  <div class="fullpage-rightblock">

    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="one">

        <div class="rightblock-title">
          <div class="header-product-text">
            <div>PRODUITS</div>
          </div>
          <div class="blind-count"><%= @products.count %> produits</div>

          <div class="add-model-name">
            <%= link_to new_product_path, class: "", data: { confirm: "Etes-vous sûr de vouloir créer un produit ?" } do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
            <% end %>
          </div>

          <%= render 'shared/flashes' %>

        </div>

        <% @types.each do |type| %>

          <div class="product-card-dashboard">





              <div class="header-container">
                <div class="dashboard-card-type">
                  <div class="card-type-text"><%= type.name.capitalize.pluralize %></div>
                  <div class="blind-count"><%= "( #{type.products.count} ) " %></div>
                  <div class="product-links"></div>
                </div>
              </div>


              <div class="dashboard-table-header">
                <div class="product-id-header"><%= "id" %></div>
                <div class="product-id-title-header"><%= "titre" %></div>
                <div class="product-id-info-header"><%= "infos" %></div>
              </div>




              <div class="item-container">
                <% type.products.each do |product| %>

                  <div class="dashboard-card-item">
                    <div class="product-id"><%= "id : " %><%= product.id %></div>


                    <%= link_to product_path(product), class: "product-id-title" do %>
                        <%= product.title %>
                    <% end %>


                    <div class="product-id-info"><%= product.infos.count %></div>

                    <div class="product-links">

                      <%= link_to edit_product_path(product), class: "", data: { confirm: "Etes-vous sûr de vouloir modifier ce produit ?" } do %>
                        <i class="fa fa-cog" aria-hidden="true"></i>
                      <% end %>

                      <%= link_to new_product_info_path(product), class: "", data: { confirm: "Etes-vous sûr de vouloir créer une info pour ce produit ?" } do %>
                        <i class="fa fa-plus" aria-hidden="true"></i>
                      <% end %>

                      <%= link_to product_infos_path(product), class: "" do %>
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      <% end %>

                      <%= link_to product_path(product), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer ce produit ?" } do %>
                        <i class="fa fa-times" aria-hidden="true"></i>
                      <% end %>

                    </div>

                  </div>

                <% end %>
              </div>


          </div>

        <% end %>

      </div>



      <div role="tabpanel" class="tab-pane" id="two">

        <div class="rightblock-title">
          <div class="header-product-text">Promos</div>
          <div class="blind-count"><%= @promos.count %> promos</div>

          <div class="add-model-name">
            <%= link_to new_promo_path, class: "", data: { confirm: "Etes-vous sûr de vouloir créer une promo ?" } do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
            <% end %>
          </div>

        </div>


          <div class="product-card-dashboard">


              <div class="dashboard-table-header">
                <div class="product-id-header"><%= "id" %></div>
                <div class="product-id-title-header"><%= "titre" %></div>
                <div class="product-id-title-header"><%= "type" %></div>
                <div class="product-id-date-header"><%= "Début" %></div>
                <div class="product-id-date-header"><%= "Fin" %></div>
              </div>



              <div class="item-container">

                <% @promos.each do |promo| %>

                  <div class="dashboard-card-item">
                    <div class="product-id"><%= "id : " %><%= promo.id %></div>


                    <%= link_to promo_path(promo), class: "product-id-title" do %>
                        <%= promo.title %>
                    <% end %>


                    <div class="product-id-title"><%= promo.type.name %></div>

                    <div class="product-id-date"><%= promo.start.strftime("%Y-%b") %></div>

                    <div class="product-id-date"><%= promo.end.strftime("%Y-%b") %></div>

                    <div class="product-links-promo">

                      <%= link_to edit_promo_path(promo), class: "", data: { confirm: "Etes-vous sûr de vouloir modifier cette promo ?" } do %>
                        <i class="fa fa-cog" aria-hidden="true"></i>
                      <% end %>

                      <%= link_to promo_path(promo), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer cette promo ?" } do %>
                        <i class="fa fa-times" aria-hidden="true"></i>
                      <% end %>

                    </div>

                  </div>

                <% end %>

              </div>

          </div>


      </div>




      <div role="tabpanel" class="tab-pane" id="three">

        <div class="rightblock-title">
          <div class="header-product-text">Albums</div>
          <div class="blind-count"><%= @albums.count %> albums</div>

          <div class="add-model-name">
            <%= link_to new_album_path, class: "", data: { confirm: "Etes-vous sûr de vouloir créer un album ?" } do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
            <% end %>
          </div>

        </div>


          <div class="product-card-dashboard">


              <div class="dashboard-table-header">
                <div class="product-id-header"><%= "id" %></div>
                <div class="product-id-title-header"><%= "name" %></div>
                <div class="product-id-title-header"><%= "photos" %></div>
              </div>



              <div class="item-container">

                <% @albums.each do |album| %>

                  <div class="dashboard-card-item">
                    <div class="product-id"><%= "id : " %><%= album.id %></div>


                    <%= link_to album_path(album), class: "product-id-title" do %>
                        <%= album.name %>
                    <% end %>


                    <div class="product-id-title"><%= album.photos.count %></div>


                    <div class="product-links-promo">

                      <%= link_to edit_album_path(album), class: "", data: { confirm: "Etes-vous sûr de vouloir modifier cet album ?" } do %>
                        <i class="fa fa-cog" aria-hidden="true"></i>
                      <% end %>


                      <% if album.name == "homepage" %>
                          <i class="fa fa-warning" aria-hidden="true"></i>
                        <% else %>
                          <%= link_to album_path(album), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer cet album ?" } do %>
                            <i class="fa fa-times" aria-hidden="true"></i>
                          <% end %>
                      <% end %>

                    </div>

                  </div>

                <% end %>

              </div>

          </div>


      </div>















      <div role="tabpanel" class="tab-pane" id="four">

        <div class="rightblock-title">
          <div class="header-product-text">Marques</div>
          <div class="blind-count"><%= @brands.count %> marques</div>

          <div class="add-model-name">
            <%= link_to new_brand_path, class: "", data: { confirm: "Etes-vous sûr de vouloir créer une marque ?" } do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
            <% end %>
          </div>

        </div>


          <div class="product-card-dashboard">


              <div class="dashboard-table-header">
                <div class="product-id-header"><%= "id" %></div>
                <div class="product-id-title-header"><%= "name" %></div>
                <div class="product-id-title-header"><%= "produits" %></div>
              </div>



              <div class="item-container">

                <% @brands.each do |brand| %>

                  <div class="dashboard-card-item">
                    <div class="product-id"><%= "id : " %><%= brand.id %></div>


                    <%= link_to brand_path(brand), class: "product-id-title" do %>
                        <%= brand.name %>
                    <% end %>


                    <div class="product-id-title"><%= brand.products.count %></div>


                    <div class="product-links-promo">

                      <%= link_to edit_brand_path(brand), class: "", data: { confirm: "Etes-vous sûr de vouloir modifier cette marque ?" } do %>
                        <i class="fa fa-cog" aria-hidden="true"></i>
                      <% end %>



                      <%= link_to brand_path(brand), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer cette marque ?" } do %>
                        <i class="fa fa-times" aria-hidden="true"></i>
                      <% end %>


                    </div>

                  </div>

                <% end %>

              </div>

          </div>


      </div>








      <div role="tabpanel" class="tab-pane" id="five">

        <div class="rightblock-title">
          <div class="header-product-text">Catégories</div>
          <div class="blind-count"><%= @types.count %> catégories</div>

          <div class="add-model-name">
            <%= link_to new_type_path, class: "", data: { confirm: "Etes-vous sûr de vouloir créer une catégorie ?" } do %>
              <i class="fa fa-plus" aria-hidden="true"></i>
            <% end %>
          </div>

        </div>


          <div class="product-card-dashboard">


              <div class="dashboard-table-header">
                <div class="product-id-header"><%= "id" %></div>
                <div class="product-id-title-header"><%= "name" %></div>
                <div class="product-id-title-header"><%= "couleur" %></div>
              </div>



              <div class="item-container">

                <% @types.each do |type| %>

                  <div class="dashboard-card-item">
                    <div class="product-id"><%= "id : " %><%= type.id %></div>


                    <%= link_to type_path(type), class: "product-id-title" do %>
                        <%= type.name %>
                    <% end %>

                    <div class="product-id-title">
                      <div class="dashboard-type-color" style="background-color: <%= type.color if type.color.present? %>;"></div>
                    </div>






                    <div class="product-links-promo">

                      <%= link_to edit_type_path(type), class: "", data: { confirm: "Etes-vous sûr de vouloir modifier cette catégorie ?" } do %>
                        <i class="fa fa-cog" aria-hidden="true"></i>
                      <% end %>



                      <%= link_to type_path(type), method: :delete, data: { confirm: "Etes-vous sûr de vouloir supprimer cette catégorie ?" } do %>
                        <i class="fa fa-times" aria-hidden="true"></i>
                      <% end %>


                    </div>

                  </div>

                <% end %>

              </div>

          </div>


      </div>













    </div>


  </div>





</div>







<div class="dashboardv2-fullpage">

  <div class="v2-fullpage-item-01">


    <div class="v2-fullpage-item-01-header">
      <div class="header-hard-dashboard">Dashboard</div>
      <div class="dashboard-user-email"><%= current_user.email %></div>
      <div class="dashboard-user-email-dot"><i class="fa fa-circle" aria-hidden="true"></i></div>
      <%= link_to destroy_user_session_path, method: :delete, data: { confirm: "Etes-vous sûr de vouloir vous déconnecter?" } do %>
        <div class="dashboard-user-signout">
          <div class="text-on-signout-hover">Déconnexion</div>
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </div>
      <% end %>
    </div>


    <div class="dashv2-infos-compilated">
      <div class="dashv2-infos-compilated-item">
        <div class="v2-big-number"><%= @types.count %></div>
        <div class="dashv2-infos-compilated-item-label">Catégories</div>
      </div>
      <div class="dashv2-infos-compilated-item">
        <div class="v2-big-number"><%= @products.count %></div>
        <div class="dashv2-infos-compilated-item-label">Produits</div>
      </div>
      <div class="dashv2-infos-compilated-item">
        <div class="v2-big-number"><%= @albums.count %></div>
        <div class="dashv2-infos-compilated-item-label">Albums</div>
      </div>
      <div class="dashv2-infos-compilated-item">
        <div class="v2-big-number"><%= @brands.count %></div>
        <div class="dashv2-infos-compilated-item-label">Marques</div>
      </div>
    </div>


    <div class="dashboardv2-left-menu">
      <ul class="nav nav-pills nav-stacked">
      <% @types.each do |type| %>
        <% if type == @types.first %>
            <li role="presentation" class="active">
              <div class="menu-icon-show" style="color: <%= type.color %>;"><i class="fa fa-circle" aria-hidden="true"></i></div>
              <a href="#<%= type.id %>" data-toggle="tab"><%= type.plurname %></a>
              <div class="v2-link-on-active">
                <%= link_to edit_type_path(type), class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir modifier cette catégorie ?" } do %>
                    <div class="text-on-edit-hover" style="color: <%= type.color %>;">Modifier</div>
                    <i class="fa fa-pencil" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
                <%= link_to type_path(type), method: :delete, class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir supprimer cette catégorie ?" } do %>
                    <div class="text-on-destroy-hover" style="color: <%= type.color %>;">Supprimer</div>
                    <i class="fa fa-times" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
              </div>
            </li>
        <% else %>
            <li role="presentation">
              <div class="menu-icon-show" style="color: <%= type.color %>;"><i class="fa fa-circle" aria-hidden="true"></i></div>
              <a href="#<%= type.id %>" data-toggle="tab"><%= type.plurname %></a>
              <div class="v2-link-on-active">
                <%= link_to edit_type_path(type), class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir modifier cette catégorie ?" } do %>
                  <div class="text-on-edit-hover" style="color: <%= type.color %>;">Modifier</div>
                    <i class="fa fa-pencil" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
                <%= link_to type_path(type), method: :delete, class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir supprimer cette catégorie ?" } do %>
                    <div class="text-on-destroy-hover" style="color: <%= type.color %>;">Supprimer</div>
                    <i class="fa fa-times" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
              </div>
            </li>
        <% end %>
      <% end %>
      </ul>
    </div>





      <%= link_to new_type_path, class: "", data: { confirm: "Etes-vous sûr de vouloir créer une catégorie ?" } do %>
          <div class="v2-add-category-button">Créer une catégorie</div>
      <% end %>


  </div>



  <div class="v2-fullpage-item-02">

    <div class="fullpage-rightblock">

    <div class="tab-content">

      <% @types.each do |type| %>

        <% content_for :current_type do %>
            <% type %>
        <% end %>

      <% if type == @types.first %>

    <div role="tabpanel" class="tab-pane active" id="<%= type.id %>">




        <div class="navtab-big-title-v2">
            <div class="big-icon-index-top" style="color: <%= type.color %>;"><i class="fa fa-circle" aria-hidden="true"></i></div>
            <div class="big-title"><%= type.plurname %></div>
            <div class="blind-count" style="color: <%= type.color %>;"></div>
            <% if type.promos.any? %>
              <div class="blind-count">Promo en cours</div>
              <div class="blind-count"><%= "Jusqu'au #{type.promos.last.end}" %></div>
            <% end %>
        </div>


        <div class="dashv2-infos-compilated-alt">
          <div class="dashv2-infos-compilated-item">
            <div class="v2-big-type-color" style="background-color: <%= type.color %>;"></div>
            <div class="dashv2-infos-compilated-item-label" style="color: <%= type.color %>;">Couleur</div>
          </div>
          <div class="dashv2-infos-compilated-item">
            <div class="v2-big-number" style="color: <%= type.color %>;"><%= type.products.count %></div>
            <div class="dashv2-infos-compilated-item-label" style="color: <%= type.color %>;">Produits</div>
          </div>
        </div>



        <div class="dashboardv2-left-menu">
          <ul class="nav nav-pills nav-stacked">
            <% type.products.each do |product| %>

                <% content_for :current_product do %>
                  <% product %>
                <% end %>

                <% if type.products.first == product %>
            <li role="presentation" class="active">
              <div class="menu-icon-show"><i class="fa fa-circle" aria-hidden="true" style="color: <%= type.color %>;"></i></div>
              <a href="#<%= "#{product.id}" + "produit" + "#{type.id}" %>" data-toggle="tab"><%= product.title %></a>
              <div class="v2-link-on-active">
                <%= link_to edit_product_path(product), class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir modifier ce produit ?" } do %>
                    <div class="text-on-edit-hover" style="color: <%= type.color %>;">Modifier</div>
                    <i class="fa fa-pencil" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
                <%= link_to product_path(product), method: :delete, class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir supprimer ce produit ?" } do %>
                    <div class="text-on-destroy-hover" style="color: <%= type.color %>;">Supprimer</div>
                    <i class="fa fa-times" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
              </div>
            </li>

        <% else %>
            <li role="presentation">
              <div class="menu-icon-show"><i class="fa fa-circle" aria-hidden="true" style="color: <%= type.color %>;"></i></div>
              <a href="#<%= "#{product.id}" + "produit" + "#{type.id}" %>" data-toggle="tab"><%= product.title %></a>
              <div class="v2-link-on-active">
                <%= link_to edit_product_path(product), class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir modifier ce produit ?" } do %>
                    <div class="text-on-edit-hover" style="color: <%= type.color %>;">Modifier</div>
                    <i class="fa fa-pencil" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
                <%= link_to product_path(product), method: :delete, class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir supprimer ce produit ?" } do %>
                    <div class="text-on-destroy-hover" style="color: <%= type.color %>;">Supprimer</div>
                    <i class="fa fa-times" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
              </div>
            </li>
        <% end %>

            <% end %>
          </ul>
        </div>




      <%= link_to new_product_path, class: "", data: { confirm: "Etes-vous sûr de vouloir créer un produit ?" } do %>
          <div class="v2-add-category-button-better">Créer un produit</div>
      <% end %>





    </div>

  <% else %>

    <div role="tabpanel" class="tab-pane" id="<%= type.id %>">



        <div class="navtab-big-title-v2">
            <div class="big-icon-index-top" style="color: <%= type.color %>;"><i class="fa fa-circle" aria-hidden="true"></i></div>
            <div class="big-title"><%= type.plurname %></div>
            <div class="blind-count" style="color: <%= type.color %>;"></div>
            <% if type.promos.any? %>
              <div class="blind-count">Promo en cours</div>
              <div class="blind-count"><%= "Jusqu'au #{type.promos.last.end}" %></div>
            <% end %>
        </div>


        <div class="dashv2-infos-compilated-alt">
          <div class="dashv2-infos-compilated-item">
            <div class="v2-big-type-color" style="background-color: <%= type.color %>;"></div>
            <div class="dashv2-infos-compilated-item-label" style="color: <%= type.color %>;">Couleur</div>
          </div>
          <div class="dashv2-infos-compilated-item">
            <div class="v2-big-number" style="color: <%= type.color %>;"><%= type.products.count %></div>
            <div class="dashv2-infos-compilated-item-label" style="color: <%= type.color %>;">Produits</div>
          </div>
        </div>


    <div class="dashboardv2-left-menu">
      <ul class="nav nav-pills nav-stacked">
        <% type.products.each do |product| %>


              <% if product == type.products.first %>
            <li role="presentation" class="active">
              <div class="menu-icon-show"><i class="fa fa-circle" aria-hidden="true" style="color: <%= type.color %>;"></i></div>
              <a href="#<%= "#{product.id}" + "produit" + "#{type.id}" %>" data-toggle="tab"><%= product.title %></a>
              <div class="v2-link-on-active">
                <%= link_to edit_product_path(product), class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir modifier ce produit ?" } do %>
                    <div class="text-on-edit-hover" style="color: <%= type.color %>;">Modifier</div>
                    <i class="fa fa-pencil" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
                <%= link_to product_path(product), method: :delete, class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir supprimer ce produit ?" } do %>
                    <div class="text-on-destroy-hover" style="color: <%= type.color %>;">Supprimer</div>
                    <i class="fa fa-times" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
              </div>
            </li>
        <% else %>
            <li role="presentation">
              <div class="menu-icon-show"><i class="fa fa-circle" aria-hidden="true" style="color: <%= type.color %>;"></i></div>
              <a href="#<%= "#{product.id}" + "produit" + "#{type.id}" %>" data-toggle="tab"><%= product.title %></a>
              <div class="v2-link-on-active">
                <%= link_to edit_product_path(product), class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir modifier ce produit ?" } do %>
                    <div class="text-on-edit-hover" style="color: <%= type.color %>;">Modifier</div>
                    <i class="fa fa-pencil" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
                <%= link_to product_path(product), method: :delete, class: "v3-link",data: { confirm: "Etes-vous sûr de vouloir supprimer ce produit ?" } do %>
                    <div class="text-on-destroy-hover" style="color: <%= type.color %>;">Supprimer</div>
                    <i class="fa fa-times" aria-hidden="true" style="color: <%= type.color %>;"></i>
                <% end %>
              </div>
            </li>
        <% end %>



        <% end %>
      </ul>
    </div>


    <%= link_to new_product_path, class: "", data: { confirm: "Etes-vous sûr de vouloir créer un produit ?" } do %>
          <div class="v2-add-category-button-better">Créer un produit</div>
      <% end %>




    </div>
  <% end %>
<% end %>


  </div>
  </div>
  </div>



  <div class="v2-fullpage-item-03">
    <div class="tab-content">

      <% @types.each do |type| %>
        <% type.products.each do |product| %>

          <% if product == type.products.first %>

            <div role="tabpanel" class="tab-pane" id="<%= "#{product.id}" + "produit" + "#{type.id}" %>">

              <div class="v3-dash-prod-show">
                <div class="v3-dash-prod-show-item"><%= product.title %></div>
              </div>

              <div class="dashv2-infos-compilated-alt">

                <div class="dashv2-infos-compilated-item">
                  <div class="v2-big-number" style="color: <%= type.color %>;"><%= product.infos.count %></div>
                  <% if product.infos.count == 1 %>
                    <div class="dashv2-infos-compilated-item-label" style="color: <%= type.color %>;">Info</div>
                  <% else %>
                    <div class="dashv2-infos-compilated-item-label" style="color: <%= type.color %>;">Infos</div>
                  <% end %>
                </div>

                <%= link_to new_product_info_path(product), class: "", data: { confirm: "Etes-vous sûr de vouloir créer une info pour ce produit ?" } do %>

                  <div class="v4-info-new-button">
                    <div>Créer une info</div>
                  </div>

                <% end %>

              </div>



              <div class="v3-prod-infos">



                <div class="infos-volets">
                    <% product.infos.each do |info| %>

                      <div class="infos-item-boob">
                        <div class="infos-icon-boob" style="background-image: url(<%= cl_image_path info.icon.path %>);"></div>

                        <div class="infos-big-boob"><%= info.title %>&nbsp;</div>

                        <div class="infos-small-boob"><%= info.content %>&nbsp;</div>

                        <div class="v2-link-on-active-infos">
                          <%= link_to edit_product_info_path(product,info), class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir modifier cette info ?" } do %>
                              <div class="text-on-edit-hover" style="color: <%= type.color %>;">Modifier</div>
                              <i class="fa fa-pencil" aria-hidden="true" style="color: <%= type.color %>;"></i>
                          <% end %>
                          <%= link_to product_info_path(product,info), method: :delete, class: "v3-link", data: { confirm: "Etes-vous sûr de vouloir supprimer ce produit ?" } do %>
                              <div class="text-on-destroy-hover" style="color: <%= type.color %>;">Supprimer</div>
                              <i class="fa fa-times" aria-hidden="true" style="color: <%= type.color %>;"></i>
                          <% end %>
                        </div>

                      </div>

                    <% end %>
                  </div>
              </div>



              <div class="dashv2-infos-compilated-alt">

                <div class="dashv2-infos-compilated-item">
                  <% if product.power.present? %>
                    <div class="v2-big-number-brand" style="color: <%= type.color %>;">Oui</div>
                  <% else %>
                    <div class="v2-big-number-brand" style="color: <%= type.color %>;">Non</div>
                  <% end %>
                  <div class="dashv2-infos-compilated-item-label" style="color: <%= type.color %>;">Powers</div>

                </div>


                <% if product.power.present? %>

                  <%= link_to edit_product_power_path(product,product.power), class: "", data: { confirm: "Modifier ce pouvoir ?" } do %>
                    <div class="v4-info-new-button">
                      <div>Modifier</div>
                    </div>
                  <% end %>

                <% else %>

                  <%= link_to new_product_power_path(product), class: "", data: { confirm: "Créer des pouvoirs pour ce produit ?" } do %>
                    <div class="v4-info-new-button">
                      <div>Créer des pouvoirs</div>
                    </div>
                  <% end %>

                <% end %>



              </div>





              <% if product.power.present? %>


                <div class="v3-dash-powers-container">


                  <% if product.power.sun == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Soleil</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'sun.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.power.rain == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Pluie</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'rain.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.power.wind == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Vent</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'wind.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.power.cold == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Froid</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'cold.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.power.hot == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Chaleur</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'hot.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.power.humidity == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Humidité</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'humidity.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.power.energysaver == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Enérgie</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'eolienne.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.power.taxsaver == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Impots</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'price.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.power.insects == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Insectes</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'insects.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.power.security == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Sécurité</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'security.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.power.inside == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Intérieur</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'inside.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.power.outside == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Extérieur</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'outside.svg' %>);"></div>
                    </div>
                  <% end %>

                  <% if product.power.certification == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="v3-powers-text-on-hover" style="color: <%= type.color %>;">Certif</div>
                      <div class="v3-power-item" style="background-image: url(<%= asset_path 'certif.svg' %>);"></div>
                    </div>
                  <% end %>

                </div>

                <% else %>

                  <div class="no-present-power">Ce store n'a pas de pouvoir</div>

              <% end %>










            </div>



          <% else %>

            <div role="tabpanel" class="tab-pane" id="<%= "#{product.id}" + "produit" + "#{type.id}" %>">

              <div class="v3-dash-prod-show">
                <div class="v3-dash-prod-show-item"><%= product.title %></div>
              </div>

              <div class="v3-prod-infos-container">

                <div class="v3-prod-infos-container-header">
                  <div class="v3-prod-infos-text" style="color: <%= product.type.color %>;">Infos</div>
                </div>

              </div>

            </div>

          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>



</div>




