<div class="header-on-modal-2">
    <div class="header-hard-dashboard" style="opacity: 0.4;font-size: 13px;"><%= "Catégorie" %></div>
    <div style="margin-left: 8px;margin-right: 8px;padding-top: 2px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    <div class="header-hard-dashboard" style="font-size: 13px;"><%= promo.type.plurname %></div>
</div>



<div class="form-in-modal">

<%= simple_form_for [type, promo] do |f| %>

  <div class="container-without-button">

    <div class="label-on-modal-dashboard">Titre de la promo</div>
    <%= f.input :title, label: false %>

    <div class="label-on-modal-dashboard">Description</div>
    <%= f.input :description, label: false %>




  <div class="form-inline-date">


    <div class="form-inline-date-column">
      <div class="label-on-modal-dashboard">Début</div>
      <%= f.input :start, as: :date, label: false, start_year: Date.today.year, discard_day: true, order: [:month, :year] %>
    </div>

    <div class="form-inline-date-column">
      <div class="label-on-modal-dashboard">Fin</div>
      <%= f.input :end, as: :date, label: false, start_year: Date.today.year, discard_day: true, order: [:month, :year] %>
    </div>


  </div>





    <div class="label-on-modal-dashboard">Promo en cours ?</div>
    <div class="form-active-promo">
      <%= f.input :current, as: :select, label: false %>
    </div>

    <div class="label-on-modal-dashboard">Photos</div>
    <%= f.input :photos, label: false, as: :attachinary %>



  </div>


    <%= f.submit "Modifier #{promo.title}", :class => 'submit-button-on-modal' %>


<% end %>

</div>





