<div class="analytics-bottom-right quotgraph-receiver-september">

      <div class="quot-receiver-header">
        <div class="quot-stats-text">Statistics</div>
        <div class="quot-stats-text-month">Septembre 2017</div>
      </div>

      <div class="quotgraph-header-month-sm">
        <div class="quotgraph-header-month-text-sm">Moustiquaires</div>
      </div>
      <%= render partial: "quotgraph_by_category", locals: {month: @september_category_1} %>

      <div class="quotgraph-header-month-sm">
        <div class="quotgraph-header-month-text-sm">Stores intérieurs</div>
      </div>
      <%= render partial: "quotgraph_by_category", locals: {month: @september_category_2} %>

      <div class="quotgraph-header-month-sm">
        <div class="quotgraph-header-month-text-sm">Stores extérieurs</div>
      </div>
      <%= render partial: "quotgraph_by_category", locals: {month: @september_category_3} %>

      <div class="quotgraph-header-month-sm">
        <div class="quotgraph-header-month-text-sm">Pergolas</div>
      </div>
      <%= render partial: "quotgraph_by_category", locals: {month: @september_category_4} %>

      <div class="quotgraph-header-month-sm">
        <div class="quotgraph-header-month-text-sm">Menuiseries</div>
      </div>
      <%= render partial: "quotgraph_by_category", locals: {month: @september_category_5} %>

      <div class="quotgraph-header-month-sm">
        <div class="quotgraph-header-month-text-sm">Portes de garage</div>
      </div>
      <%= render partial: "quotgraph_by_category", locals: {month: @september_category_6} %>

      <div class="quotgraph-header-month-sm">
        <div class="quotgraph-header-month-text-sm">Volets roulants</div>
      </div>
      <%= render partial: "quotgraph_by_category", locals: {month: @september_category_7} %>
    </div>
