
<h4><%= @product.title %></h4>
<h4><%= @product.type.name %></h4>


<%= simple_form_for(@product) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :photos, as: :attachinary %>
  <%= f.association :brand, as: :radio_buttons, label: false %>
  <%= f.association :type, as: :radio_buttons %>
  <%= f.submit %>
<% end %>
