
<div class="form-fullpage">


    <div class="form-title"><%= "Créer un produit pour #{@type.name}" %></div>


    <%= simple_form_for [@type, @product] do |f| %>

      <div class="form-label">Nom</div>
      <%= f.input :title, label: false %>

      <div class="form-label">Description</div>
      <%= f.input :description, label: false %>

      <div class="form-label">Photos</div>
      <%= f.input :photos, as: :attachinary, label: false %>

      <div class="form-fullpage-button">
          <%= f.button :submit, 'Créer un produit', class: 'form-button' %>
      </div>

    <% end %>


</div>

