
<script>

  $(document).ready(function() {
    $('.attachinary-input').attachinary();
  });

</script>


<div class="header-on-modal">
    <div class="header-hard-dashboard" style="opacity: 0.8;"><%= "Créer un produit pour la catégorie" %></div>
    <div style="margin-left: 8px;margin-right: 8px;padding-top: 4px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    <div class="header-hard-dashboard" style="opacity: 0.4;"><%= "#{@type.name}" %></div>
    <button class="close" data-dismiss="modal">×</button>
</div>




<div class="form-in-modal">

<%= simple_form_for [@type, @product] do |f| %>

  <div class="container-without-button">

    <div class="label-on-modal-dashboard">Nom du produit</div>
    <%= f.input :title, label: false %>

    <div class="label-on-modal-dashboard">Description</div>
    <%= f.input :description, label: false %>

    <div class="label-on-modal-dashboard">Photos</div>
    <%= f.input :photos, label: false, as: :attachinary %>


  </div>

  <%= f.submit "créer un produit", :class => 'submit-button-on-modal' %>

<% end %>

</div>






