<div class="modal-header">
    <div class="header-hard-dashboard" style="opacity: 0.9;"><%= "#{@product.title}" %></div>
    <button class="close" data-dismiss="modal">×</button>
</div>



<div class="modal-body" style="padding-top: 0;padding-bottom: 0;">

  <div class="info-header-iterator">
    <div class="info-header-iterator-text">infos</div>
  </div>

  <div class="dyn-modal-cont">

    <% @product.infos.each do |info| %>
      <div class="info-item-iterator">
        <div class="info-item-iterator-icon-plus-title">
          <div class="<%= info.icon %> pad-on-icons" style="font-size: 14px;"></div>
          <div class="info-title"><%= info.title %></div>
        </div>
        <div class="info-contents"><%= info.content %></div>
      </div>
    <% end %>

  </div>


  <div class="info-header-iterator">
    <div class="info-header-iterator-text">powers</div>
  </div>

   <% if @product.powers.any? %>


                <div class="v3-prod-infos-v12" style="padding-bottom: 35px;padding-top: 37px;">


                  <% if @product.powers.last.sun == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="icon-button-container">
                        <div class="icon-sun pad-on-icons" style="font-size: 24px;"></div>
                        <div class="v3-powers-text-on-hover-v2">Soleil</div>
                      </div>
                    </div>
                  <% end %>

                  <% if @product.powers.last.rain == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="icon-button-container">
                        <div class="icon-rain-2 pad-on-icons" style="font-size: 24px;"></div>
                        <div class="v3-powers-text-on-hover-v2">Pluie</div>
                      </div>
                    </div>
                  <% end %>

                  <% if @product.powers.last.wind == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="icon-button-container">
                        <div class="icon-wind pad-on-icons" style="font-size: 24px;"></div>
                        <div class="v3-powers-text-on-hover-v2">Vent</div>
                      </div>
                    </div>
                  <% end %>

                  <% if @product.powers.last.cold == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="icon-button-container">
                        <div class="icon-thermometer pad-on-icons" style="font-size: 24px;"></div>
                        <div class="v3-powers-text-on-hover-v2">Froid</div>
                      </div>
                    </div>
                  <% end %>

                  <% if @product.powers.last.hot == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="icon-button-container">
                        <div class="icon-thermometer pad-on-icons" style="font-size: 24px;"></div>
                        <div class="v3-powers-text-on-hover-v2">Chaleur</div>
                      </div>
                    </div>
                  <% end %>

                  <% if @product.powers.last.humidity == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                     <div class="icon-button-container">
                        <div class="icon-droplet pad-on-icons" style="font-size: 24px;"></div>
                        <div class="v3-powers-text-on-hover-v2">Humidité</div>
                      </div>
                    </div>
                  <% end %>

                  <% if @product.powers.last.energysaver == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="icon-button-container">
                        <div class="icon-battery pad-on-icons" style="font-size: 24px;"></div>
                        <div class="v3-powers-text-on-hover-v2">Energie</div>
                      </div>
                    </div>
                  <% end %>

                  <% if @product.powers.last.taxsaver == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                     <div class="icon-button-container">
                        <div class="icon-euro pad-on-icons" style="font-size: 24px;"></div>
                        <div class="v3-powers-text-on-hover-v2">Impot</div>
                      </div>
                    </div>
                  <% end %>

                  <% if @product.powers.last.insects == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="icon-button-container">
                        <div class="icon-bug-1 pad-on-icons" style="font-size: 24px;"></div>
                        <div class="v3-powers-text-on-hover-v2">Insectes</div>
                      </div>
                    </div>
                  <% end %>

                  <% if @product.powers.last.security == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                     <div class="icon-button-container">
                        <div class="icon-lock-alt pad-on-icons" style="font-size: 24px;"></div>
                        <div class="v3-powers-text-on-hover-v2">Sécurité</div>
                      </div>
                    </div>
                  <% end %>

                  <% if @product.powers.last.inside == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="icon-button-container">
                        <div class="icon-sun pad-on-icons" style="font-size: 24px;"></div>
                        <div class="v3-powers-text-on-hover-v2">Intérieur</div>
                      </div>
                    </div>
                  <% end %>

                  <% if @product.powers.last.outside == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="icon-button-container">
                        <div class="icon-sun pad-on-icons" style="font-size: 24px;"></div>
                        <div class="v3-powers-text-on-hover-v2">Exterieur</div>
                      </div>
                    </div>
                  <% end %>

                  <% if @product.powers.last.certification == false %>
                  <% else %>
                    <div class="v3-power-item-cont">
                      <div class="icon-button-container">
                        <div class="icon-clipboard pad-on-icons" style="font-size: 24px;"></div>
                        <div class="v3-powers-text-on-hover-v2">Certif</div>
                      </div>
                    </div>
                  <% end %>

                </div>

                <% else %>

                  <div class="v3-prod-infos-alt">
                    <div class="v4-no-promo-div">
                      <div class="v5-big-text">0 pouvoir</div>
                    </div>
                  </div>

              <% end %>


  <div class="info-header-iterator">
    <div class="info-header-iterator-text">photos</div>
  </div>

  <div class="banner-product-page-show" style="background-image: url(<%= if @product.photos.any? then cl_image_path @product.photos.last.path end %>);">
    <div class="banner-product-show-description">
    </div>
  </div>


</div>









