

<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= if @product.photos.any? then cl_image_path @product.photos.last.path end %>);">
  <div class="card-category"><i class="fa fa-tags" aria-hidden="true"></i>
 <%= @product.type.name %></div>
  <div class="card-description">
    <h2><%= @product.title %></h2>
    <p><%= @product.description %></p>
  </div>
  <div class="item-brand-show"><%= image_tag "luxa.svg" %></div>
  <a class="card-link" href="#" ></a>
</div>


<% @product.infos.each do |info| %>
  <%= info.title %>
  <%= info.content %>
<% end %>



<div class="product-card-left">
<%= link_to products_path do %>
    <div class="modif-button"><%= "Retour" %></div>
<% end %>
</div>

