

<div class="header-on-modal">
           <div class="header-hard-dashboard" style="opacity: 0.4;">Modifier</div>
           <div style="margin-left: 8px;margin-right: 8px;padding-top: 4px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
           <div class="header-hard-dashboard" style="opacity: 0.4;"><%= @info.product.title %></div>
            <div style="margin-left: 8px;margin-right: 8px;padding-top: 4px;"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
            <div class="header-hard-dashboard"><%= @info.title %></div>
           <button class="close" data-dismiss="modal">×</button>
</div>






<div class="form-in-modal">

<%= simple_form_for [@product.type, @product, @info] do |f| %>

  <div class="container-without-button">

    <div class="label-on-modal-dashboard">Nom de l'info</div>
    <%= f.input :title, label: false %>

    <div class="label-on-modal-dashboard">Contenu</div>
    <%= f.input :content, label: false %>

    <div class="label-on-modal-dashboard">Icone</div>
    <%= f.input :icon, as: :attachinary, label: false %>


  </div>


    <%= f.submit "Modifier #{@info.title}", :class => 'submit-button-on-modal' %>


<% end %>

</div>





