<div class="form-fullpage">

  <div class="form-title"><%= "Modifier #{@product.title} / #{@info.title}" %></div>


    <%= simple_form_for [@product.type, @product, @info] do |f| %>

      <div class="form-label">Nom</div>
      <%= f.input :title, label: false %>

      <div class="form-label">Contenu</div>
      <%= f.input :content, label: false %>

      <div class="form-label">Photos</div>
      <%= f.input :icon, as: :attachinary, label: false %>

      <div class="form-fullpage-button">
        <%= f.button :submit, 'Valider', class: 'form-button' %>
      </div>


    <% end %>

</div>
