<!DOCTYPE html>
<html>
  <head>
    <title>TODO</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>

  <!-- navbar is different on homepage only -->




    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= content_for :afterjs %>
    <%= content_for :afterjstwo %>
    <%= content_for :nontreatedquotas %>
    <%= content_for :allquotas %>
    <%= cloudinary_js_config %>



  </body>
</html>
